// Your custom SCSS should be written here...

nav{
  ul#menu{
    li{
      a{
        padding: 0 em(100px);
      }
    }
  }
}

section{
  padding: em(30px) 0;
}
section#bio{
  background: #979797;

  div.borda_foto{
    background: #fff;
    cursor: pointer;
    padding: 3%;
    @include border-radius(50%);
    @include single-transition(all,0.5s);
    text-align: center;
    img{
      @include border-radius(50%);
    }
    &:hover{
      padding: 0;
      background: transparent;
    }
  }
  h1{
    font-size: 3.5rem;
    color: #fff;
  }
  p{
    color: #fff;
  }
}
section#portfolio{
  h2{
    text-align: center;
    color: #222222;
  }
  div.caixa_conteudo{
    position: relative;
    margin-bottom: em(20px);
    // cursor: pointer;
    img{
    }
    div.conteudo{
      @include single-transition(all,0.5s);
      background: #282828;
      padding: em(10px);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // propriedades animadas
      height: 0%;
      opacity: 0;
      p,h3{
        color: #fff;
        text-align: center;
      }
    }
    &:hover{
      div.conteudo{
        height: 100%;
        opacity: 0.9;
      }
    }
  }
}
section#contato{
  background: #dbdbdb;
  h2{
    text-align: center;
  }
  ul#social_media{
    @include horizontal-list(em(15px));
  }
  a{
    display: block;
    text-align: center;
    color: #444444;
  }
}
footer{
  background: #282828;
  padding: em(10px);
  p{
    color: #fff;
    margin: 0;
  }
}
