// Your custom SCSS should be written here...

nav{
  ul#menu{
    li{
      a{
        padding: 0 em(100px);
      }
    }
  }
}

section#bio{
  background: #979797;
  padding: em(30px) 0;
  div.borda_foto{
    background: #fff;
    padding: 3%;
    @include border-radius(50%);
    text-align: center;
    img{
      @include border-radius(50%);
    }
  }
  h1{
    font-size: 3.5rem;
    color: #fff;
  }
  p{
    color: #fff;
  }
}
